{% if hidden %}
  <div></div>
{% elif event %}
  <div>
  <div class="date normal medium">
    {{ event }}
  </div>
  <div class="time bright xlarge light">
    <div>{{ date }}{% if label %}<sup class="dimmed">{{ label }}</sup>{% endif %}</div>
  </div>
</div>
{% endif %}